<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGSD Snack Money</title>
    <link rel="stylesheet" href="../stylesheet.css">
</head>

<div class="topnav">
    <a href="/">MGSD Snack Money</a>
    <a class="active" href="/">Login</a>
    <a href="/register">Register</a>
    <a class="navbar-brand" href="#" style="max-width: 30%;">
        <img src="logo-mooresville.png" class="img-fluid">
    </a>

</div>

<body>
<br>
<form class="center" action="/user" method="post">
    <h2>Account Successfully Created Please Login!</h2>
    <div class="input-field">
        <input type="text" name="username" id="username" placeholder="Enter Email">
    </div>
    <div class="input-field">
        <input type="password" name="password" id="password" placeholder="Enter Password">
    </div>
    <input type="submit" value="Login">
</form>
</body>
</html>